.thread-title {
    font-size: 2.2rem;
    text-align: center;
    color: var(--color-fg-default);
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.page-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-thread {
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
}

.message-thread .message {
    margin-bottom: 1.4em;
    margin-right: var(--message-link-width);
}

.message-thread .message blockquote {
    border-left: .25em solid var(--color-border-default);
    padding-left: 1em;
}

.message-thread .message .message-link {
    margin-right: var(--message-link-margin);
    display: inline-block;
    color: var(--color-fg-muted);
}

.message-thread .message .message-link:hover {
    color: var(--color-fg-default);
}

.message-thread .message .message-header {
    color: var(--color-fg-muted);
    display: flex;
    font-size: var(--font-size-small);
    justify-content: space-between;
    margin-left: var(--message-link-width);
}

.message-thread .message .message-author {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-heavier);
}

.message-thread .message .message-flair {
    font-size: var(--font-size-tiny);
    color: var(--color-fg-muted);
}

.message-thread .message .message-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-lighter);
}

.message-thread .message .parent-message {
    padding-left: 1em;
}

.message-thread .message .parent-message .parent-banner {
    margin-bottom: 0.4em;
}

.message-thread .message .parent-message .parent-name {
    font-size: var(--font-size-small);
    color: var(--color-fg-default);
    padding: 0;
    margin-right: 0.4em;
}

.message-thread .message .parent-message .parent-link {
    color: var(--color-fg-muted);
}

.message-thread .message .parent-message .parent-link:hover {
    color: var(--color-fg-default);
}

.message-thread .message .parent-message .parent-quote {
    font-size: var(--font-size-tiny);
}

.message-thread .message .message-body *:last-child {
    margin-bottom: 0;
}

.message-thread .message .message-body .inline-message-header {
    font-size: var(--font-size-tiny);
    margin-bottom: 0.5em;
}

.message-thread .message .inline-message-header dl.field-list > dd {
    color: var(--color-fg-muted);
}

.message-thread .message .message-body .inline-quote-attribution {
    margin-bottom: 0.5em;
}