.card {
    background-color: var(--color-canvas-default);
    border-color: var(--color-border-default);
}

.card > .card-header {
    border-color: var(--color-border-default);
    background-color: var(--color-canvas-subtle);
}

.pagination .page-item .page-link {
    color: var(--color-fg-default);
    background-color: var(--color-canvas-subtle);
    border-color: var(--color-border-default);
}

.pagination .page-item .page-link:hover {
    background-color: var(--color-canvas-active);
}


.pagination .page-item.active .page-link {
    background-color: var(--color-canvas-active);
}

.pagination .page-item.disabled .page-link {
    color: var(--color-fg-muted);
}

.pagination .page-item.number-page-item:not(.active) {
    display: list-item;
}

@media (max-width: 768px) {
    .pagination .page-item.number-page-item:not(.active) {
        display: none;
    }
}

.btn-toggle .collapse-arrow > * {
    transition: transform 0.25s ease;
    transform: rotate(0deg);
}

.btn-toggle[aria-expanded="true"] .collapse-arrow > * {
    transform: rotate(90deg);
}

dl.field-list {
    display: grid;
    grid-template-columns: max-content auto;
    overflow-wrap: anywhere;
}

dl.field-list > * {
    margin: 0;
}

dl.field-list > dt {
    grid-column-start: 1;
    margin-right: 1rem;
    text-align: right;
}

dl.field-list > dt::after {
    content: ":";
}

dl.field-list > dd {
    grid-column-start: 2;
}

.inline-icon {
    display: inline-block;
}

.inline-icon > * {
    vertical-align: middle;
}