@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

