body {
    --font-size-base: 1rem;
    --font-size-large: 1.1rem;
    --font-size-small: 0.9rem;
    --font-size-tiny: 0.8rem;

    --font-weight-heavier: 500;
    --font-weight-lighter: 300;

    --color-canvas-popover: #ffffff;
    --color-border-popover: #d0d7de;
    --color-canvas-selected-popover: #f6f8fa;
    --color-fg-popover: #24292f;
    --color-fg-muted-popover: #57606a;

    --body-horizontal-padding: 24px;
}

@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
        --color-fg-default: #c9d1d9;
        --color-fg-muted: #8b949e;
        --color-canvas-default: #0d1117;
        --color-canvas-subtle: #161b22;
        --color-canvas-active: #1e242e;
        --color-border-default: #30363d;
        --color-accent-fg: #58a6ff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color-scheme: light;
        --color-fg-default: #24292f;
        --color-fg-muted: #57606a;
        --color-canvas-default: #ffffff;
        --color-canvas-subtle: #f6f8fa;
        --color-canvas-active: #e9eef3;
        --color-border-default: #d0d7de;
        --color-accent-fg: #0969da;
    }
}

.message-search {
    --search-base-width: 26rem;
    --suggestion-text-max-lines: 6;
    --suggestion-title-max-lines: 3;
    --suggestion-text-line-height: 1.5rem;
    --suggestion-title-line-height: 1.5rem;
    --suggestion-added-width: 9rem;
}

@media (max-width: 992px) {
    .message-search {
        --suggestion-added-width: 6rem;
    }
}

@media (max-width: 768px) {
    .message-search {
        --suggestion-added-width: 3rem;
    }
}

.message-search {
    --suggestion-total-width: calc(var(--search-base-width) + (var(--suggestion-added-width) * 2));
}

.message-thread .message {
    --message-link-icon-size: 30px;
    --message-link-margin: 0.5rem;
    --message-link-width: calc(var(--message-link-icon-size) + var(--message-link-margin));
}

@media (max-width: 576px) {
    .message-thread .message {
        --message-link-width: 0;
    }
}