<div class="inline-message-header">
  <dl class="field-list">
    {{ $fieldsLen := len .Fields -}}
    {{ range $index, $field := .Fields -}}
    <dt>{{ .Name }}</dt>
    <dd>{{ .Value }}</dd>
    {{- if ne (add $index 1) $fieldsLen }}
    {{ end -}}
    {{ end }}
  </dl>
</div>
